html{
    background-color: black;
    height: 100%;
}

body{
    height: 100%;
}

.playerOptions{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.scoreboard{
    text-align: center;
    background-color: white;
    margin: 40px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
}